@media screen {

    .printOnly {
        display: none;
    }

    .productTable td:last-child,
    .productTable td:nth-last-child(2) {
        display: none
    }

    .productTable {
        table-layout: fixed;
        width: 99%;
    }

    .productTable td {
        overflow: hidden;
    }
}
#optionForm {
    padding: 3px;
    background-color: #fbfbfb;
    border: 1px #aaa solid;
    width: 70%;
    margin-left: 5px;
}

#addOrders {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 970px;
}

#shippingForm td {
    padding-left: 3px;
    padding-bottom: 3px;
    height: 22px;
    valign: middle;
}

td.ecoCol {
    background-color: #FAFAFA;
}

td.standardColumn, td.picklistColumn {
    background-color: #E6E6E6;
    font-weight: bold;
}

#shippingForm table {
    display: inline-table;
    margin: 6px;
    border-collapse: collapse;
    vertical-align: top;
}

#searcherTable {
    margin: 0px;
}

button {
    margin: 6px;
}

#mandarotyNote {
    font-size: 23px;
}

.red {
    display: inline-block;
    color: red;
    font-size: 13px;
    height: 0px;
    vertical-align: top;
}

table.orderStatus {
    margin-top: 1em;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 10px;
}

table td.orderStatus {
    text-align: center;
    padding: 0.5em;
    width: 150px;
    border: 2px solid #666;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 3px 3px 5px black, 3px 3px 5px black;
    -webkit-box-shadow: 3px 3px 5px black, 3px 3px 5px black;
}

#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#red {
    color: red;
}

.addRemoveDescription {
    border: 1px outset black;
    background-color: #DCDCDC;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.addRemoveDescription:hover {
    background-color: #A9A9A9;
    color: white;
}

td.addRemove, td.center {
    text-align: center;
}

td input[type=text] {
    display: table-cell;
    width: 96%;
}

.productTable tr.oddRows,
.productTable tr.oddRows input[type=text] {
    background-color: #f3f3f3;
}

th,
.totalCartons,
.totalPieces,
.extraInfo {
    font-size: 11pt;
}

button.noPrint {
    margin-right: 10px;
}

.missField {
    color: red;
}